@font-face {
  font-family: "Aristore";
  src: url("assets/font/aristore.ttf") format("truetype");
}
@font-face {
  font-family: "Zirkon";
  src: url("assets/font/zirkon.ttf") format("truetype");
}

body {
  background-image: url("assets/img/bg2.jpg");
  background-size: cover;
  background-repeat-y: no-repeat;
  background-color: #d62d3d;
  overflow: hidden;
}

.sv-info {
  width: 100%;
  position: absolute;
  top: 19vw;
  text-align: center;
  color: #fff;

  .danh-hieu,
  .hoten,
  .nganh {
    text-transform: capitalize;
  }

  .danh-hieu {
    font-size: 3.5vw;
  }

  .hoten {
    font-family: "Zirkon";
    font-size: 6vw;
    margin-bottom: 2vw;
  }

  .nganh {
    font-family: "Aristore";
    font-size: 2vw;
  }
}

.sv-lookup {
  position: absolute;
  bottom: 5px;
  right: 5px;

  .lookup-inp {
    width: 60px;
    opacity: 0.3;
  }
}

.pointer {
  cursor: pointer;
}
