@font-face {
  font-family: "YesevaOne";
  src: url("/assets/font/YesevaOne-Regular.ttf") format("truetype");
}

body {
  background-image: url("assets/img/bg.jpg");
  background-size: cover;
  background-repeat-y: no-repeat;
  background-color: #d62d3d;
  overflow: hidden;
}

.sv-info {
  width: 100%;
  position: absolute;
  top: 35vw;
  text-align: center;
  color: #3f51b5;

  .hoten,
  .nganh {
    text-transform: uppercase;
    font-family: "YesevaOne";
    font-weight: bold;
  }

  .hoten {
    font-size: 3vw;
    margin-bottom: 10px;
  }

  .nganh {
    font-size: 3vw;
  }
}

.sv-lookup {
  position: absolute;
  bottom: 5px;
  right: 5px;

  .lookup-inp {
    width: 60px;
    opacity: 0.3;
  }
}

.pointer {
  cursor: pointer;
}
